body {
  margin: 0;
  padding: 0;
}

.header{
  
  height: 87px;
  display: flex;
  justify-content: center;
}


.list{
  border: 2px solid rgb(47, 47, 141);
  width: 100vw;
  margin: 50px;
  box-shadow: 5px 5px 5px 8px gray;
  display: block;
  align-items: flex-start;
  list-style: square;
}


button:hover {
  background-color: rgb(255, 237, 74);
}

.inputs{
  height: 90px;
}

.form {
  background-color: rgb(66, 61, 61);
  color: rgb(255, 237, 74);
  border: 5px solid rgb(47, 47, 141);
  width: 400px;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.parent {
  display: flex;
}

.more-list{
  display: block;
}

.image{
  width: 130px;
  margin: 10px 0;
  border: 1px solid white;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid rgb(47, 47, 141);
  text-align: center;
  color: rgb(255, 237, 74);
}

.test {
  width: 100px;
}

.text {
  overflow: auto;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
}

tr {
  border: 2px solid black;
}

.header-text{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: yellow;
}


.white-text{
  background-color: rgb(66, 61, 61);
  color: white;
  border: 5px solid rgb(47, 47, 141);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-2 {
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(255, 237, 74);

}

/* -webkit-text-stroke-width: 2px; */
    /* -webkit-text-stroke-color: black; */

.spacing{
  margin-left: 20px;
  margin-right: 20px;
}

.specified-text {
  -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

textarea {
  resize: none;
}