body {
  margin: 0
}

.header{
  background-color: rgb(47, 47, 141);
  height: 87px;
  display: flex;
  justify-content: center;
}


.list{
  border: 2px solid rgb(47, 47, 141);
  width: 100vw;
  margin: 50px;
  box-shadow: 5px 5px 5px 8px gray;
  display: block;
  align-items: flex-start;
  list-style: square;
}


button:hover {
  background-color: yellow;
}

.inputs{
  height: 90px;
}

.form {
  background-color: rgb(66, 61, 61);
  color: white;
  border: 5px solid rgb(47, 47, 141);
  width: 400px;
  height: 91vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.parent {
  display: flex;
}

.more-list{
  display: block;
}

.image{
  width: 100px;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border: 2px solid rgb(47, 47, 141);
  text-align: center;
  color: rgb(255, 237, 74);
}

.test {
  width: 100px;
}

.text {
  overflow:auto;
  height: 100px;
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
}

tr {
  border: 2px solid black;
}

.header-text{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: yellow;
}

/* body {
  background-image: url('https://steamcommunity-a.akamaihd.net/economy/profilebackground/items/460790/66bd9d7c5a6c8a209493b57506b6b8956b72dbae.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

.white-text{
  background-color: rgb(66, 61, 61);
  color: white;
  border: 5px solid rgb(47, 47, 141);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-2 {
  background-color: rgb(47, 47, 141);
  height: 87px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(255, 237, 74);
}

.spacing{
  margin-left: 20px;
  margin-right: 20px;
}